* {
    margin: 0px;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #33aa80;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

header {
    width: 100%;
    background-color: #03989e;
}

#header .logo {
    width: 100%;
    align-self: center;
}

.logo img {
    width: 300px;
    height: 152px;
}

.container {
    display: flex;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.image-container {
    width: 40%;
    margin-right: 20px;
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container img {
    width: 50%;
    margin-bottom: 40px;
    margin-right: 50px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.image-container img:nth-child(2n) {
    margin-bottom: 0;
}

.login-signup-container {
    width: 20%;
    color: white;
    background-color: #1bb6bb;
    border: 2px solid #026164;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #023a3b;
    padding: 20px;
}


.form-container {
    width: 50%;
    width: 400px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 150px;
}

.tab-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab-item {
    padding: 10px 20px;
    border: 1px solid #023a3b;
    border-bottom: none;
    cursor: pointer;
}

.tab-item.active {
    border-bottom: 3px solid #333;
}

form {
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    height: 300px;
}

form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


footer {
    background-color: #03989e;
    color: white;
    bottom: 0;
    font-size: 16px;
    margin-top: 50px;
}

footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
}

.copyright {
    padding: 0.3em 1em;
    background-color: #026164;
    width: 100%;
    height: 40px;
}

.footer-menu {
    float: left;
    margin-top: 10px;
}

.footer-menu a {
    color: #cfd2d6;
    padding: 6px;
    text-decoration: none;
}

.footer-menu a:hover,
.social i:hover {
    color: #c7940a;
}

.copyright p {
    font-size: 0.9em;
    text-align: right;
}